@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');

* {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    background-color: #F5F5DC;
}

#headTitle {
    font-family: Lobster, Rubik, Arial, Helvetica, sans-serif;
    font-size: 5rem;
    margin-bottom: 0;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add {
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    border: solid black;
}

.add:hover {
    color: black;    
    background-color: white;
    cursor: pointer;
}

.bookForm {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 5rem; 
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.3);
}

.addForm {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 13rem;
    gap: 10px;
    margin: auto;
    padding: 10px 10px 30px 10px;
    border: black solid;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
}

@-webkit-keyframes animate {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes animate {
    from {opacity: 0}
    to {opacity: 1}
}

.formTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.formT {
    font-size: 1.2rem;
}

.close {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.close:hover {
    color: #949483;
    cursor: pointer;
}

.addForm input {
    width: 10rem;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    border: solid black;
}

.readBox {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-self: center;
    width: 11.5rem;
}

#sub {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 11.5rem;
    background-color: #dadac0;
    
}

#sub:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.library {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 100px 300px 100px 190px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid;
    border-radius: 5px;
    width: 15rem;
    height: 15rem;
    margin-left: 5.3rem;
    margin-bottom: 2rem;
}

.remove, .readCheck {
    border: none;
}

#trash {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 100;
}

#trash:hover {
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 100,
    'opsz' 48;
}

#didRead:hover, #notRead:hover {
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 100;
}

.title, .author, .pages, .read {
    padding: 5px;
    text-align: center;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}